body {
    text-align: center;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.493), rgba(0, 255, 0, 0.514), rgba(0, 0, 255, 0.5));
}

h1{
    font-family: fantasy;
    margin: 20px;
    text-align: center;
    border: 3px dashed forestgreen;
    color: rgb(8, 73, 148);
}
label{
    font-family: cursive;
}
label:first-of-type{
    color: red;
}
label:nth-of-type(2){
    color: green;
}
label:nth-of-type(3){
    color: blue;
}
input{
    margin: 20px;
    border: 1.5px solid blue;
    border-radius: 5px;
    background-color: rgb(25, 231, 163);
    font-family: cursive;
    font-weight: 600;
}
input:focus{
    background-color: rgb(19, 194, 136);
}
select{
    margin: 20px;
    border: 1.5px solid blue;
    border-radius: 5px;
    background-color: rgb(25, 231, 163);
    font-family: cursive;
    font-weight: 600;
}
select:hover{
    background-color: rgb(19, 194, 136);
}
button{
    
    margin: 20px;
    border: 1.5px solid blue;
    border-radius: 5px;
    background-color: rgb(25, 231, 163);
    font-family: cursive;
    font-weight: 600;
}
button:active{
    background-color: rgb(19, 194, 136);
}
